<% provide :title, @problem.title %>

<% cache [@problem, current_user] do %>
<div class="container">
  <div class="row">

    <div class="col-lg-9 col-md-8">
      <div class="content-box">

        <% if is_master? %>
          <div class="text-right">
            <%= link_to 'Edit Statement', edit_problem_path(@id), "data-no-turbolink" => true %> |
            <%= link_to 'Delete', '#delete-modal', data: { toggle: 'modal' } %>
            <%= render 'delete_modal' %>
          </div>
        <% end %>

        <%= render 'author' %>

        <div class='medium-editor-insert-plugin'><%= @problem.statement.html_safe %></div>

      </div>
    </div>

    <%= render 'sidebar' %>

  </div>
</div>
<% end %>