<% provide :title, @problem.title %>

<div class="container">
  <div class="row">

    <div class="col-lg-9 col-md-8">
      <div class="content-box">

        <% if current_user.admin? %>
          <div class="text-right">
            <%= link_to 'Edit', edit_problem_path(@problem), "data-no-turbolink" => true %> |
            <%= link_to 'Delete', '#delete-modal', data: { toggle: 'modal' } %>
            <%= render partial: 'delete_modal', locals: { id: @problem.id } %>
          </div>
        <% end %>

        <div class="trick-user">
          <div class="trick-user-image">
            <%= image_tag @author.avatar.url(:square), class: 'user-avatar' %>
          </div>
          <div class="trick-user-data">
            <h1 class="page-title"><%= @problem.title %></h1>
            <div>
              Proposed by <b><%= link_to @author.username, user_path(@author.username) %></b>
            </div>
          </div>
        </div>

        <div class='medium-editor-insert-plugin'><%= @problem.statement.html_safe %></div>

      </div>
    </div>

    <div class="col-lg-3 col-md-4">
      <div class="content-box">

        <b>Stats</b>
        <ul class="list-group trick-stats">
          <li class='list-group-item'>
            <span class="fa fa-money"></span> Points
            <span class="pull-right">7 + 3</span>
          </li>
          <li class="list-group-item">
            <span class="fa fa-list-alt"></span> Submissions
            <span class="pull-right">20 / 40</span>
          </li>
        </ul>

        <b>Categorization</b>
        <ul class="list-group trick-stats">
          <li class="list-group-item">
            <span class="fa fa-tags"></span> Domain
            <span class="pull-right"><%= @domain.name %></span>
          </li>
          <li class="list-group-item">
            <span class="fa fa-signal"></span> Level
            <span class="pull-right"><%= @problem.difficulty %></span>
          </li>
          <li class="list-group-item">
            <span class="fa fa-dropbox"></span> Status
            <span class="pull-right"><%= @problem.status %></span>
          </li>
        </ul>
        
        <b>Navigation</b>
        <ul class="nav nav-list push-down">
          <li>
            <%= link_to '#', class: 'text-primary' do %>
              <span class="fa fa-question-circle"></span> Problem Statement
            <% end %>
          </li>          
          <% if current_user.master? %>
            <li>
              <%= link_to '#', class: 'text-muted' do %>
                <span class="fa fa-pencil-square"></span> Master Gradings
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to '#', class: 'text-muted' do %>
              <span class="fa fa-users"></span> Good Solutions
            <% end %>
          </li>
          <li>
            <%= link_to '#', class: 'text-muted' do %>
              <span class="fa fa-check-circle"></span> Official Solution
            <% end %>
          </li>
          <% if current_user.master? %>
            <li>
              <%= link_to '#', class: 'text-muted' do %>
                <span class="fa fa-gears"></span> Master Settings
              <% end %>
            </li>
          <% end %>
        </ul>

      </div>
    </div>

  </div>
</div>