<div class="navbar navbar-default navbar-static-top">
  <div class="container">

		<div class="navbar-header">
			<%= button_tag type: 'button', class: 'navbar-toggle', data: { toggle: 'collapse', target: '.navbar-collapse' } do %>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			<% end %>

	  	<%= link_to image_tag('logo.png', width: 207, height: 50), root_path, class: 'navbar-brand' %>
		</div>

		<div class="collapse navbar-collapse">
		  <ul class="nav navbar-nav">
		  	<li><%= link_to 'Tập Huấn', '#' %></li>
		  	<li><%= link_to 'Bảng Vàng', '#' %></li>
		  	<li><%= link_to 'Thư viện', '#' %></li>
		  	<li><%= link_to 'Ôn Tập', '#' %></li>

		  	<% if signed_in? %>
			  	<li class="visible-xs <%= is_active('users', 'show') %>"><%= link_to 'Profile', user_path(current_user.username) %></li>
			  	<li class="visible-xs <%= is_active('users', 'edit') %>"><%= link_to 'Settings', user_path(current_user.username) %></li>
			  	<li class="visible-xs"><%= link_to 'Signout', signout_path, method: :delete %></li>
		  	<% else %>
		  		<li class="visible-xs"><%= link_to 'Đăng Ký', signup_path %></li>
			  	<li class="visible-xs"><%= link_to 'Đăng Nhập', signin_path %></li>
		  	<% end %>
		  </ul>

		  <div class="navbar-right hidden-xs">
		  	<% if signed_in? %>
		  		<%= render 'layouts/dropdown' %>			  	
			  <% else %>
					<%= link_to 'Đăng Ký', signup_path, class: 'btn btn-primary' %>
			  	<%= link_to 'Đăng Nhập', signin_path, class: 'btn btn-primary' %>
			  <% end %>
		  </div>
		</div>

  </div>
</div>
