<div class="navbar navbar-default navbar-static-top">
  <div class="container">

		<div class="navbar-header">
			<%= button_tag type: 'button', class: 'navbar-toggle', data: { toggle: 'collapse', target: '.navbar-collapse' } do %>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			<% end %>

	  	<%= link_to image_tag('logo.png', width: 207, height: 50), root_path, class: 'navbar-brand' %>
		</div>

		<div class="collapse navbar-collapse">
		  <ul class="nav navbar-nav">
		  	<li><%= link_to 'Tập Huấn', '#' %></li>
		  	<li><%= link_to 'Bảng Vàng', '#' %></li>
		  	<li><%= link_to 'Thư viện', '#' %></li>
		  	<li><%= link_to 'Ôn Tập', '#' %></li>
		    <li class="visible-xs"><%= link_to 'Đăng Ký', '#' %></li>
		  	<li class="visible-xs"><%= link_to 'Đăng Nhập', '#' %></li>
		  </ul>

		  <div class="navbar-right hidden-xs">
		  	<%= link_to 'Đăng Ký', '#', class: 'btn btn-primary' %>
		  	<%= link_to 'Đăng Nhập', '#', class: 'btn btn-primary' %>
		  </div>
		</div>

  </div>
</div>
